@charset "UTF-8";
/* CSS Document */


.redbar {
	width: 20px;
	background-color:#FF0000;
	display:inline-block;
	position: absolute;
}

.redbar.left {
	left:0;
}

.redbar.right {
	left:30px;
}

.redbar.hide {
	display: none;
}

.content.hide {
	display: none;
}
