@charset "UTF-8";
/* CSS Document */

.colour {
	background-image: url("images/colour-black.jpg");
	width: 390px;
	height: 606px;
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 10px;
}

.blue{
	background-image: url("images/colour-blue.jpg");
	background-repeat: no-repeat;	
}

.green{
	background-image: url("images/colour-green.jpg");	
	background-repeat: no-repeat;	
}

.red{
	background-image: url("images/colour-red.jpg");	
	background-repeat: no-repeat;	
}

.white{
	background-image: url("images/colour-white.jpg");
	background-repeat: no-repeat;		
}