@charset "UTF-8";
/* CSS Document */

.colour {
	background-image: url("images/colour-black.jpg");
	width: 320px;
	height: 606px;
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 10px;
}

.dress.blue{
	background-image: url("images/colour-blue.jpg");
	background-repeat: no-repeat;	
}

.dress.green{
	background-image: url("images/colour-green.jpg");	
	background-repeat: no-repeat;	
}

.dress.red{
	background-image: url("images/colour-red.jpg");	
	background-repeat: no-repeat;	
}

.dress.white{
	background-image: url("images/colour-white.jpg");
	background-repeat: no-repeat;		
}

.options{
	width: 300px;
	margin: auto;
}

.colourchoice{
	padding: 15px;
	font-size: 12px;
	font-weight: 100;
}

.hide {
	display: none;
}

